<template>
  <div class="amplitude-player" v-if="!loading">
    <span class="amplitude-play"> Play </span>
    <span class="amplitude-play" data-amplitude-song-index="1">TEST</span>

    <div class="currentPlaylist">
      <h2>{{ currentPlaylist.title }}</h2>
      <div
        v-for="(song, key) in currentPlaylistSongs"
        :key="currentPlaylistIndex + '-' + key"
      >
        <span @click="play(song.index)">
          {{ song.name }}
        </span>
      </div>
    </div>
    <h2>Playlists</h2>
    <div v-for="(playlist, key) in playlists" :key="key">
      <span @click="changePlaylist(key)">
        {{ playlist.title }}
      </span>
    </div>
  </div>
</template>
<script>
import Amplitude from 'amplitudejs'

export default {
  props: {
    amplitude: { type: Object, required: true },
  },
  data() {
    return {
      loading: true,
      currentPlaylistIndex: Object.keys(this.amplitude.playlists)[0],
      songs: this.amplitude.songs,
      playlists: this.amplitude.playlists,
    }
  },
  computed: {
    currentPlaylist() {
      return this.playlists[this.currentPlaylistIndex]
    },
    currentPlaylistSongs() {
      const songs = []
      this.currentPlaylist.songs.forEach((song) => {
        songs.push(song)
      })
      return songs
    },
  },
  mounted() {
    setTimeout(() => {
      Amplitude.init(this.amplitude)
      this.loading = false
    }, 300)
  },
  methods: {
    play(songIndex, playlistKey) {
      if (playlistKey) {
        Amplitude.playPlaylistSongAtIndex(songIndex, playlistKey)
      } else {
        Amplitude.playSongAtIndex(songIndex)
      }
    },
    changePlaylist(key) {
      this.currentPlaylistIndex = key
      Amplitude.playPlaylistSongAtIndex(0, key)
    },
  },
}
</script>
<style>
.amplitude-player {
  background-color: #333;
}
</style>
