<template>
  <v-container> <amplitude-player :amplitude="amplitudeData" /> </v-container>
</template>

<script>
import amplitudeData from '../assets/playlist.json'
import AmplitudePlayer from '~/components/AmplitudePlayer.vue'
export default {
  components: { AmplitudePlayer },
  data() {
    return {
      amplitudeData,
    }
  },
  mounted() {},
}
</script>
